body {
	margin: 20px;
}

.blackbox {
  padding: 1em;
  background: black;
  color: white;
  border: 2px solid darkblue;
  border-radius: 10px;
}
.center {
  text-align: center;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid darkblue;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.caution {
  background-image: url("https://github.com/IMSMWU/Teaching/raw/master/MRDA2017/Graphics/warning.png");
}

.download {
  background-image: url("https://github.com/IMSMWU/Teaching/raw/master/MRDA2017/Graphics/download_2.png");
}