.blackbox {
  padding: 1em;
  background: black;
  color: white;
  border: 2px solid darkblue;
  border-radius: 10px;
}
.center {
  text-align: center;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid darkblue;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.infobox_red {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid darkred;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.infobox_orange {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.infobox_green {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid darkgreen;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.lc_green {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  background: #b5e7a0;
}

.caution {
  background-image: url("https://github.com/IMSMWU/Teaching/raw/master/MRDA2017/Graphics/warning.png");
}

.check {
  background-image: url("https://github.com/IMSMWU/Teaching/raw/master/MRDA2017/Graphics/check_icon.png");
}

.hint {
  background-image: url("https://github.com/IMSMWU/Teaching/raw/master/MRDA2017/Graphics/hint_icon.jpg");
}

.download {
  background-image: url("https://github.com/IMSMWU/Teaching/raw/master/MRDA2017/Graphics/download_2.png");
}

